{% extends 'base.html' %}

{% block title %}Bursdagsbarn{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<table class="table table-striped table-bordered">
   <thead>
      <tr>
         <th>Navn</th>
         <th>Fødselsdato</th>
         <th>Dager til neste bursdag</th>
         <th>Alder</th>
      </tr>
   </thead>

   <tbody>
      {% for person in personList %}
      <tr>
         <td>{{ person['givenName'] + " " + person['surname']}}</td>
         <td>{{ person['birthdate'] }}</td>
         <td>{{ person['daysuntil'] }}</td>
         <td>{{ person['age'] }}</td>
      </tr>
      {% endfor %}
   </tbody>
</table>

{% endblock %}